<style>
    a:link{
        color:white;
    }
</style>

<main id="ipsLayout_body" class="ipsLayout_container"  >
    <div class="ta_NT  mx-5" style='background-color:rgb(69, 15, 131); border-radius:20px; color:white; a:link{
        color: white;
        text-decoration:none;
    }' >
        <div class="newsTicker mx-5">
        <div class="ta_tickerTitle"><span><i class="fa fa-newspaper-o"></i>News Ticker</span></div>
            <div class="ta_tickerStatus"><span></span></div>
            <marquee>
                <ul>
    
   &nbsp;&nbsp;&nbsp;&nbsp; #<a href="https://eci.gov.in/files/file/12253-schedule-for-general-election-to-the-legislative-assembly-of-bihar-2020/">Schedule for General Election to the Legislative Assembly of Bihar-2020</a>
   &nbsp;&nbsp;&nbsp;&nbsp;  #<a href="https://eci.gov.in/files/file/12195-shri-rajeev-kumar-takes-over-as-new-election-commissioner/">Shri Rajiv Kumar takes over as new Election Commissioner.</a>
   &nbsp;&nbsp;&nbsp;&nbsp; #<a href="https://voterportal.eci.gov.in">Visit Voter Portal (beta).</a>
   &nbsp;&nbsp;&nbsp;&nbsp; #<a href="https://eci.gov.in/files/file/12189-eci-bids-farewell-to-sh-ashok-lavasa-eci-also-releases-volume-vi-of-landmark-judgments-a-compendium-of-judgments/">ECI bids farewell to Sh Ashok Lavasa</a>
   &nbsp;&nbsp;&nbsp;&nbsp;  #<a href="https://eci.gov.in/files/file/12187-landmark-judgments-on-election-law-vol-vi/">ECI releases Volume VI of Landmark Judgments, a Compendium of Judgments</a>
   <#<a href="https://eci.gov.in/files/file/12313-optional-facility-of-online-data-entry-of-personal-details-by-candidates-in-nomination-form-and-affidavit-in-form-26-appended-to-the-ce-rules-1961-guidelines-all-recognized-national-state-parties-reg/">Optional facility of online data entry of personal details by candidates in Nomination Form and Affidavit (in Form 26 appended to the CE Rules, 1961) -Guidelines (All recognized National/ State Parties) - reg.</a>
</ul>                    
</marquee>          
 </div>
    </div>